<div id="<%= dom_id medicamento %>">
  <style>
    body {
     background-color: #d1f5d3; 
    }
    h1 {
      text-align: center;
      }

  </style>
  <div class="container-xl">
  <div class="text-center">

  <p>
    <strong>Nome:</strong>
    <%= medicamento.nome %>
  
  </p>
 
  <p>
    <strong>Valor:</strong>
    <%= medicamento.valor %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= medicamento.descrição %>
  </p>
 

<%= link_to "Página Inicial", root_path, class: "btn btn-primary" %>
</div>


