<p style="color: green"><%= notice %></p>
<div class="text-center">
  
<h1>Atendentes</h1>

    <style>
      body {
     background-color: #d1f5d3; 
      }
    </style>

 

<div id="Atendentes">
  <div class="container-md">
  <% @atendentes.each do |atendente| %>
    <%= render atendente %>
    
    <p>
      <%= link_to "Verificar Atendente", atendente %>
    </p>
  <% end %>
</div>

<br>
 </br>
 <br>
  </br>
<%= link_to "Registrar novo atendente", new_atendente_path %>
<br>
 </br>
 <br>
  </br>
<%= link_to "Página Inicial", root_path, class: "btn btn-primary" %>